RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]
RedirectMatch 301 /more-food/(.*) /morefood/$1
RedirectMatch 301 /more-gold/(.*) /moregold/$1
RedirectMatch 301 /more-honey/(.*) /morehoney/$1
RedirectMatch 301 /more-block/(.*) /moreblocks/$1
RedirectMatch 301 /more-pumpkin/(.*) /morepumpkin/$1
RedirectMatch 301 /serverjars-api/(.*) /serverjars/$1
RedirectMatch 301 /rcore-api/(.*) /rcore/$1
